<app-student-navbar></app-student-navbar>

<div class="container py-4">
  <div class="mb-3">
    <div class="row g-2 align-items-end">
      <div class="col-md-6">
        <input class="form-control" [(ngModel)]="search" placeholder="Search by title or tag" />
      </div>

      <div class="col-md-2 d-grid">
        <button class="btn btn-primary" (click)="load()">Search</button>
      </div>
    </div>
  </div>

  <p class="text-success fs-4 mb-2" *ngIf="message">{{ message }}</p>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col" *ngFor="let c of courses">
      <div class="card h-100 shadow-sm">

        <img *ngIf="c.thumbnail" 
             [src]="c.thumbnail" 
             alt="{{c.title}}" 
             class="card-img-top" />
        <div class="card-body d-flex flex-column">
          <div class="mb-2">
            <div class="fw-semibold">{{ c.title }}</div>
            <small class="text-muted">
              {{ c.domain }} • {{ c.level }} • {{ c.durationHrs ? c.durationHrs + 'h' : '' }}
            </small>
          </div>

          <p class="small text-muted mb-2">{{ c.description }}</p>

          <div class="mb-2 d-flex flex-wrap gap-1">
            <span class="badge bg-light text-dark border" *ngFor="let t of c.tags">{{ t }}</span>
          </div>

          <button *ngIf="c.isEnrolled === false"
              class="btn btn-sm btn-success w-100 p-2 mt-3"
              (click)="enroll(c)"> 
              Enroll
            </button>
            <button *ngIf="c.isEnrolled"
              class="btn btn-sm btn-primary w-100 p-2 mt-3"
              disabled> 
              Enrolled
            </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="courses.length === 0" class="text-center text-muted my-5">
    <p>No courses found.</p>
  </div>
</div>